@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome farmers</h1>
    <h3>Feel free to browse the site</h3>
    <p>But in order to view anything you will need to sign in</p>
    <a class="nav-link text-dark"  asp-controller="Home" asp-action="Privacy">Privacy</a>
    <a class="nav-link text-dark" asp-controller="Accounts" asp-action="Login">Login</a>
    <div class="form-group">
       
    </div>
  
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
